<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h5>Filter Menu</h5>
            <p-table #dt1 [value]="rooms"  [columns]="cols" dataKey=" roomId" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" paginator="true" 
            [globalFilterFields]="['roomStatus.status','roomType']" responsiveLayout="scroll" [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template pTemplate="caption">
                    
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <div class="flex">
                        <button pButton label="Clear" class="p-button-outlined mr-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"(click)="openNew()"></button>
                    </div>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                    </span>
                </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Room ID
								
                            </div>
                        </th> -->
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Room Number
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Room Price
                            </div>
                        </th>
						<th style="min-width: 12rem" pSortableColumn="roomType">
							<div class="flex justify-content-between align-items-center">
								Room Type
                                <p-sortIcon field="roomType"></p-sortIcon>
							</div>
						</th>
                        <th style="min-width: 12rem" pSortableColumn="roomStatus.status">
                            <div class="flex justify-content-between align-items-center">
                                Room Status
                                <p-sortIcon field="roomStatus"></p-sortIcon>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-room>
                    <tr>
                        <!-- <td>
                            {{room.roomId}}
                        </td> -->
                        <td>
                            {{room.roomNumber}}
                        </td>
                        <td>
                            {{room.roomPrice}}
                        </td>
                        <td>    
                            {{room.roomType}}
                        </td>
                        <td>
                            <div class="hidden">
                                {{room.roomStatus.status}}
                            </div>
                            <p-dropdown id="roomStatus" [options]="roomStatusOptions" [showClear]="true"
                            [(ngModel)]="room.roomStatus" optionLabel="status" [style]="{'width':'100%'}" (onChange)="updateRoomStatus(room, $event.value)"></p-dropdown>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRoom(room)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRoom(room)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No customers found.</td>
					</tr>
				</ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="4">Loading rooms data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="roomDialog" [style]="{width: '450px'}" header="Room Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid flex justify-content space-between">
                    <div style="flex: 1; margin-right: 40px;">
                        <div class="field">
                            <label for="roomType">Room Type</label>
                            <input type="string" pInputText id="roomType" [(ngModel)]="room.roomType" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.roomType}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.roomType">Room Type is required.</small>
                        </div>
                        <div class="field">
                            <label for="roomPrice">Room Price</label>
                            <input type="number" pInputText id="roomPrice" [(ngModel)]="room.roomPrice" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.roomPrice}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.roomPrice">Room Number is required.</small>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button label="Cancel" severity="secondary" icon="pi pi-times" (onClick)="hideDialog()" ></p-button>
                <p-button label="Save" icon="pi pi-check" (onClick)="saveRoom()" ></p-button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRoomDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="room">Are you sure you want to delete Room Number <b>{{room.roomNumber}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-times" severity="secondary" label="No" (click)="deleteRoomDialog = false"></p-button>
                <p-button icon="pi pi-check" label="Yes" (click)="confirmDelete()"></p-button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="createRoomDialog" [style]="{width: '450px'}" header="New Room Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid flex justify-content space-between">
                    <div style="flex: 1; margin-right: 40px;">
                        <div class="field">
                            <label for="roomType">Room Type</label>
                            <input type="string" pInputText id="roomType" [(ngModel)]="room.roomType" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.roomType}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.roomType">Room Type is required.</small>
                        </div>
                        <div class="field">
                            <label for="roomPrice">Room Price</label>
                            <input type="number" pInputText id="roomPrice" [(ngModel)]="room.roomPrice" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.roomPrice}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.roomPrice">Room Number is required.</small>
                        </div>
                        <div class="field">
                            <label for="roomDescription">Room Description</label>
                            <input type="string" pInputText id="roomDescription" [(ngModel)]="room.roomDescription" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.roomDescription}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.roomDescription">Room Description is required.</small>
                        </div>
                    </div>
                    <div style="flex: 1;">
                        <div class="field">
                            <label for="roomStatus">Room Status</label>
                             <p-dropdown id="roomStatus"  placeholder="Please choose a status" required [showClear]="true"  [checkmark]="true" [(ngModel)]="selectedRoomStatus" [options]="roomStatusOptions" optionLabel="status"></p-dropdown> 
                        </div>   
                        <div class="field">
                            <label for="roomNumber">Room Number</label>
                            <input type="string" pInputText id="roomNumber" [(ngModel)]="room.roomNumber" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.roomNumber}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.roomType">Room Number is required.</small>
                        </div>  
                        <div class="field">
                            <label for="hotelId">Hotel ID</label>
                            <input type="number" pInputText id="hotelId" [(ngModel)]="room.hotelId" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.hotelId}">
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.hotelId">Hotel ID is required.</small>
                        </div>                
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button label="Cancel" severity="secondary" icon="pi pi-times" (onClick)="hideDialog()" ></p-button>
                <p-button label="Save" icon="pi pi-check" (onClick)="saveRoom()" ></p-button>
            </ng-template>
        </p-dialog>

    </div>
</div>
