<!-- eslint-disable @angular-eslint/template/elements-content -->
<p-toast />
<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <a href="#">
            <img
              src="assets/images/logo2.png"
              alt="Sakai logo"
              class="mb-5 w-6rem flex-shrink-0"
            />
          </a>
          <div class="text-900 text-3xl font-medium mb-3">Reset password</div>
          <span class="text-600 font-medium"
            >Please change new password for your account</span
          >
        </div>
        <p-messages [(value)]="messages" [enableService]="false" />

        <div>
          <label for="password1" class="block text-900 font-medium text-xl mb-2"
            >Password</label
          >
          <p-password
            id="password1"
            [(ngModel)]="password"
            placeholder="Password"
            [toggleMask]="true"
            styleClass="mb-5"
            inputStyleClass="w-full p-3 md:w-30rem"
          ></p-password>

          <label for="password1" class="block text-900 font-medium text-xl mb-2"
            >Confirm Password</label
          >
          <p-password
            id="password2"
            [(ngModel)]="confirmPassword"
            placeholder="Confirm Password"
            [toggleMask]="false"
            [feedback]="false"
            styleClass="mb-5"
            inputStyleClass="w-full p-3 md:w-30rem"
          ></p-password>
        </div>
        <div class="flex align-content-between justify-content-between">
          <p-button
            type="button"
            label="Back"
            icon="pi pi-undo"
            [link]="true"
            class="p-button-secondary w-max"
            (click)="goBackHomePage()"
          ></p-button>
          <button
            pButton
            type="button"
            label="Reset Password"
            class="p-button-primary w-max"
            (click)="onClickResetButton()"
            [loading]="loading"
            [loadingIcon]="'pi pi-spin pi-spinner-dotted'"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
