<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/images/logo2.png" alt="logo" width="40px" height="40px">
        <span class="font-medium">Shertion Hotel</span>
    </a>

    <div class="topbar-content">
        <ul class="topbar-nav">
            <li>
                <a (click)="navigateTo('home')" (keydown.enter)="navigateTo('home')" pRipple class="nav-link">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a (click)="navigateTo('features')" (keydown.enter)="navigateTo('features')" pRipple class="nav-link">
                    <span>Features</span>
                </a>
            </li>
            <li>
                <a (click)="navigateTo('highlights')" (keydown.enter)="navigateTo('highlights')" pRipple class="nav-link">
                    <span>Highlights</span>
                </a>
            </li>
            <li>
                <a (click)="navigateTo('pricing')" (keydown.enter)="navigateTo('pricing')" pRipple class="nav-link">
                    <span>Pricing</span>
                </a>
            </li>
            <li>
                <a (click)="router.navigate(['/view-available-room'], { fragment: 'view-available-room' })" pRipple class="nav-link">
                    <span>View Available Room</span>
                </a>
            </li>
        </ul>
        <div class="topbar-actions">
            <button pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500" [routerLink]="'/login'"></button>
            <button pButton pRipple label="Register" class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white" [routerLink]="'/register'"></button>
        </div>
    </div>
</div>
    