<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="container" [hidden]="activeIndex !== 0">
    <div class="flex flex-column justify-content-center align-items-center pt-4 gap-4">
        <span class="text-4xl font-semibold text-primary">Customize Your Room</span>
        <span class="text-xl font-normal text-500">Give us your needs in our room. The requests will be setup more accurately</span>
    </div>
    <div class="flex flex-wrap justify-content-center align-items-center pt-4">
        <div class="grid flex justify-content-center align-items-center gap-4">
            <div class="col-6 md:col-5">
                <!-- Left column for hotel room image -->
                <img src="assets/images/customizable_room.png" alt="Hotel Room" class="w-full" />
            </div>
            
            <div class="col-6 md:col-5">
                <!-- Right column for input fields -->
                <p-card header="Provide Information">
                        <div class="p-field grid pt-5">
                            <div class="col-6">
                                <p-floatLabel>
                                    <p-dropdown [options]="hotelLocations" optionLabel="code" id="hotel"/>
                                    <label for="hotel">Choose hotel's location</label>
                                </p-floatLabel>
                            </div>
                            <div class="col-6">
                                <p-floatLabel>
                                    <p-calendar selectionMode="range" [readonlyInput]="true" id="dateRange"/>
                                    <label for="dateRange">Date Nights</label>
                                </p-floatLabel>
                            </div>
                            <div class="col-6 pt-4">
                                <p-floatLabel>
                                    <p-dropdown [options]="roomSizes" optionLabel="label" id="size" [(ngModel)]="selectedRoomSize" (onChange)="changeRoomSize(selectedRoomSize?.value!)"/>
                                    <label for="size">Room Size</label>
                                </p-floatLabel>
                            </div>
                            <div class="col-6 pt-4">
                                <p-floatLabel>
                                    <p-dropdown [options]="amenitiesPackage" optionLabel="label" id="package" [(ngModel)]="selectedAmenitiesPackage" (onChange)="changeAmenities(selectedAmenitiesPackage?.value!)"/>
                                    <label for="amenities">Amenities</label>
                                </p-floatLabel>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <div class="flex gap-3 mt-1">
                                <div class="p-col-12">
                                    <button pButton type="button" label="Submit" (click)="changeProgressIndex(1)"></button>
                                </div>
                            </div>
                        </ng-template>
                </p-card>

            </div>
        </div>
    </div>
</div>
