<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<head>
  <link rel="stylesheet" href="home.component.scss" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
</head>
<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden">
    <div
      class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3"
    >
      <a class="flex align-items-center" href="#">
        <img
          src="assets/images/logo2.png"
          alt="Sheriton-HotelLogo"
          height="80"
          class="mr-0 lg:mr-2"
        />
      </a>
      <a
        pRipple
        class="cursor-pointer block lg:hidden text-700"
        pStyleClass="@next"
        enterClass="hidden"
        leaveToClass="hidden"
        [hideOnOutsideClick]="true"
      >
        <i class="pi pi-bars text-4xl"></i>
      </a>
      <div
        class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2"
        style="top: 120px"
      >
        <ul
          class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer"
        >
          <li>
            <a
              (click)="router.navigate(['/landing'], { fragment: 'home' })"
              pRipple
              class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
            >
              <span>Home</span>
            </a>
          </li>
          <li>
            <a
              (click)="router.navigate(['/landing'], { fragment: 'features' })"
              pRipple
              class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
            >
              <span>Features</span>
            </a>
          </li>
          <li>
            <a
              (click)="
                router.navigate(['/landing'], { fragment: 'highlights' })
              "
              pRipple
              class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
            >
              <span>Highlights</span>
            </a>
          </li>
          <li>
            <a
              (click)="router.navigate(['/landing'], { fragment: 'pricing' })"
              pRipple
              class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
            >
              <span>Pricing</span>
            </a>
          </li>
          <li>
            <a
              (click)="router.navigate(['/view-available-room'], { fragment: 'view-available-room' })"
              pRipple
              class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
            >
              <span>View Available Room</span>
            </a>
          </li>
        </ul>
        <div
          class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0"
        >
          <button
            pButton
            pRipple
            label="Login"
            class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"
            [routerLink]="'/login'"
          ></button>
          <button
            pButton
            pRipple
            label="Register"
            class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"
          ></button>
        </div>
      </div>
    </div>
    <div
      id="hero"
      class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden"
      style="
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
          ),
          radial-gradient(
            77.36% 256.97% at 77.36% 57.52%,
            #eeefaf 0%,
            #c3e3fa 100%
          );
        clip-path: ellipse(150% 87% at 93% 13%);
      "
    >
      <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2">
          <span class="font-light block">Demo</span>template
        </h1>
        <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">
          FE SWD392
        </p>
        <button
          pButton
          pRipple
          type="button"
          label="Get Started"
          class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"
        ></button>
      </div>

      <div class="flex justify-content-center">
        <div class="flex justify-content-center md:justify-content-end pb-8">
          <!-- Box 1: Choose Location -->
          <div class="box mr-4" style="max-width: 900px">
            <p-floatLabel>
              <p-dropdown
                id="location"
                [options]="cities"
                optionLabel="name"
              ></p-dropdown>
              <label for="location">Choose a location:</label>
            </p-floatLabel>
          </div>

          <!-- Box 2: Start Date -->
          <div class="box mr-4">
            <p-floatLabel>
              <p-calendar
                id="startDate"
                formControlName="startDate"
              ></p-calendar>
              <label for="startDate">Start Date</label>
            </p-floatLabel>
          </div>

          <!-- Box 3: End Date -->
          <div class="box mr-4">
            <p-floatLabel>
              <p-calendar id="endDate" formControlName="endDate"></p-calendar>
              <label for="endDate">End Date</label>
            </p-floatLabel>
          </div>

          <!-- Box 4: Number of People -->
          <div class="box mr-4">
            <p-floatLabel>
              <p-inputNumber inputId="integeronly" />
              <label for="number-input">Number of People</label>
            </p-floatLabel>
          </div>

          <!-- Box 5: Booking -->
          <div class="box">
            <button
              pButton
              pRipple
              type="button"
              label="Booking"
              class="p-button-outlined"
            ></button>
          </div>
        </div>
      </div>

      <div
        class="col-12 mt-8 mb-8 p-2 md:p-8"
        style="
          border-radius: 20px;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.6),
              rgba(255, 255, 255, 0.6)
            ),
            radial-gradient(
              77.36% 256.97% at 77.36% 57.52%,
              #efe1af 0%,
              #c3dcfa 100%
            );
        "
      >
        <div
          class="flex flex-column justify-content-center align-items-center text-center px-3 py-3 md:py-0"
        >
          <h1 class="text-gray-900 mb-2">WELCOME TO SHERITON RESTON HOTEL</h1>
          <p
            class="text-gray-900 sm:line-height-2 md:line-height-4 text-2xl mt-4 content-paragraph"
            style="max-width: 800px"
          >
            “The Sheriton Reston is proud to announce our reopening August 6th
            after a complete renovation.
            <span *ngIf="!showMore">
              <span class="see-more-less" (click)="toggleSeeMore()"
                >See More</span
              >
            </span>
            <span *ngIf="showMore">
              Reston's first hotel is now its newest! Surrounded by exciting
              Virginia destinations, the fully renovated Hotel is an ideal home
              base for business and leisure travelers alike. Among our neighbors
              are Reston National Golf Course, Reston Town Center’s shops and
              restaurants and the historical sites in our nation’s capital.
              Those planning events in Reston will appreciate our 18,000 square
              feet of refreshed, modern event space for conferences and our new
              Courtyard for social gatherings. All guest rooms have been
              redesigned for a clean, contemporary look with remodeled, larger
              bathrooms with stand-up showers, new Sheraton Signature Beds, 55”
              smart TV’s and refrigerators. Additional amenities include new,
              state of the art 1800 sq ft gym, Media Room and Studio by
              Sheraton. Coming soon: spacious Club Lounge and renovated
              Provision outlet - a coffee shop in the morning, lunch offerings
              and bar in the evening"
              <span class="see-more-less" (click)="toggleSeeMore()"
                >See Less</span
              >
            </span>
          </p>
          <img
            src="assets/demo/images/landing/peak-logo.svg"
            class="mt-4"
            alt="Company logo"
          />
        </div>
      </div>

      <!-- main  -->
      <div class="">
        <h3 class="text-center font-bold">Popular Rooms</h3>
        <div
          *ngIf="rooms && rooms.length > 0"
          class="flex justify-content-around align-items-center flex-wrap"
        >
          <div *ngFor="let room of rooms" class="border-1 border-solid border-gray-500">
            <img src="assets/images/Family Room image.png" alt="" />
            <div class="px-4 mb-4">
              <h5 class="text-center pt-2 font-bold">{{ room.type }}</h5>
              <p class="font-bold">${{ room.price }}</p>
              <p>{{ room.description }}</p>
              <p-button label="Booking" />
            </div>
          </div>
        </div>
      </div>
      <!-- main  -->

      <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
        <div class="grid justify-content-center">
          <div class="col-12 text-center mt-8 mb-4">
            <h2 class="text-900 font-normal mb-2">
              Why did you choose Sheriton?
            </h2>
          </div>

          <div class="col-12 md:col-6 lg:col-4 p-2">
            <div class="feature-card">
              <img
                src="assets/images/luxury.png"
                alt="Feature Image 1"
                class="feature-image"
              />
              <div class="feature-content">
                <h5 class="feature-title">Luxurious place</h5>
                <p class="feature-description">
                  Enjoy elegantly designed rooms and suites that offer a blend
                  of comfort and sophistication, ensuring a memorable stay.
                </p>
                <div class="box">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="More Detail"
                    class="p-button-outlined"
                  ></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-4 p-2">
            <div class="feature-card">
              <img
                src="assets/images/world_class.png"
                alt="Feature Image 2"
                class="feature-image"
              />
              <div class="feature-content">
                <h5 class="feature-title">World-Class Amenities and Service</h5>
                <p class="feature-description">
                  Enjoy world-class amenities and exceptional hospitality at
                  Vinepart, with luxurious spas, gourmet dining, and
                  personalized service that makes every guest feel special.
                </p>
                <div class="box">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="More Detail"
                    class="p-button-outlined"
                  ></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-4 p-2">
            <div class="feature-card">
              <img
                src="assets/images/customizable_room.png"
                alt="Feature Image 3"
                class="feature-image"
              />
              <div class="feature-content">
                <h5 class="feature-title">Customizable Room</h5>
                <p class="feature-description">
                  Experience the convenience of customizable rooms tailored to
                  meet your specific preferences and needs, enhancing your stay.
                </p>
                <div class="box">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="More Detail"
                    class="p-button-outlined"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
          <div class="text-center">
            <h2 class="text-900 font-normal mb-2">Service</h2>
          </div>

          <div class="grid mt-8 pb-2 md:pb-8">
            <div
              class="flex justify-content-center col-12 lg:col-6 p-0 flex-order-1 lg:flex-order-0 img-container"
              style="border-radius: 8px"
            >
              <img
                src="assets/images/pool.png"
                class="w-11 img-fit"
                alt="mockup mobile"
              />
            </div>

            <div
              class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right"
            >
              <div
                class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end"
                style="width: 4.2rem; height: 4.2rem; border-radius: 10px"
              >
                <i class="fas fa-swimmer text-5xl text-purple-700"></i>
              </div>
              <h2 class="line-height-1 text-900 text-4xl font-normal">
                Swimming Pool
              </h2>
              <span
                class="text-700 text-2xl line-height-3 ml-0 md:ml-2"
                style="max-width: 650px"
                >"Our pool provides a relaxing experience with its beautiful
                design and modern filtration system. Ideal for unwinding and
                fitness."</span
              >
            </div>
          </div>

          <div class="grid my-8 pt-2 md:pt-8">
            <div
              class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start"
            >
              <div
                class="flex align-items-center justify-content-center bg-yellow-200 align-self-center lg:align-self-start"
                style="width: 4.2rem; height: 4.2rem; border-radius: 10px"
              >
                <i class="fas fa-dumbbell text-5xl text-yellow-700"></i>
              </div>
              <h2 class="line-height-1 text-900 text-4xl font-normal">Gym</h2>
              <span
                class="text-700 text-2xl line-height-3 mr-0 md:mr-2"
                style="max-width: 650px"
              >
                "Our modern gym offers high-end equipment and a spacious
                environment. Our professional trainers are ready to assist you."
              </span>
            </div>

            <div
              class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-yellow-100 p-0 img-container"
              style="border-radius: 10px"
            >
              <img
                src="assets/images/gym.png"
                class="w-11 img-fit"
                alt="mockup"
              />
            </div>
          </div>
        </div>

        <div class="pricing py-4 px-4 lg:px-8 my-2 md:my-4">
          <div class="text-center">
            <h2 class="heading">Popular Rooms</h2>
          </div>
          <div class="grid-container">
            <div class="col p-0 md:p-3">
              <div class="feature-card-popularroom">
                <div class="img-container-popularroom">
                  <img
                    src="assets/images/luxury_room.png"
                    alt="Luxury Room"
                    class="feature-image"
                  />
                </div>
                <div class="feature-content">
                  <h3 class="feature-title">Luxury Room</h3>
                  <div class="rating">
                    <span>5.0</span>
                    <p-rating
                      [(ngModel)]="value"
                      [readonly]="false"
                      [cancel]="false"
                    ></p-rating>
                    <span>(588)</span>
                  </div>
                  <div class="price">
                    <span class="current-price">$599</span>
                    <span class="original-price">$799</span>
                  </div>
                  <div class="box">
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Booking"
                      class="p-button-outlined"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col p-0 md:p-3">
              <div class="feature-card-popularroom">
                <div class="img-container-popularroom">
                  <img
                    src="assets/images/family_room.png"
                    alt="Family Room"
                    class="feature-image"
                  />
                </div>
                <div class="feature-content">
                  <h3 class="feature-title">Family Room</h3>
                  <div class="rating">
                    <span>5.0</span>
                    <p-rating
                      [(ngModel)]="value"
                      [readonly]="false"
                      [cancel]="false"
                    ></p-rating>
                    <span>(788)</span>
                  </div>
                  <div class="price">
                    <span class="current-price">$199</span>
                    <span class="original-price">$299</span>
                  </div>
                  <div class="box">
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Booking"
                      class="p-button-outlined"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col p-0 md:p-3">
              <div class="feature-card-popularroom">
                <div class="img-container-popularroom">
                  <img
                    src="assets/images/standard_room.png"
                    alt="Standard Room"
                    class="feature-image"
                  />
                </div>
                <div class="feature-content">
                  <h3 class="feature-title">Standard Room</h3>
                  <div class="rating">
                    <span>5.0</span>
                    <p-rating
                      [(ngModel)]="value"
                      [readonly]="false"
                      [cancel]="false"
                    ></p-rating>
                    <span>(988)</span>
                  </div>
                  <div class="price">
                    <span class="current-price">$150</span>
                    <span class="original-price">$249</span>
                  </div>
                  <div class="box">
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Booking"
                      class="p-button-outlined"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
