<!-- eslint-disable @angular-eslint/template/elements-content -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<head>
  <link rel="stylesheet" href="home.component.scss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div>
<app-header-shared></app-header-shared>
</div>
<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden">
      <div class="flex justify-content-center">
          <<div class="form-container">
            <div class="form-box">
                <!-- Box 1: Choose Location -->
                <div class="box">
                    <p-floatLabel>
                        <p-dropdown id="location" [options]="cities" optionLabel="name"></p-dropdown>
                        <label for="location">Choose a location:</label>
                    </p-floatLabel>
                </div>
        
                <!-- Box 2: Start Date -->
                <div class="box">
                    <p-floatLabel>
                        <p-calendar id="startDate" formControlName="startDate"></p-calendar>
                        <label for="startDate">Start Date</label>
                    </p-floatLabel>
                </div>
        
                <!-- Box 3: End Date -->
                <div class="box">
                    <p-floatLabel>
                        <p-calendar id="endDate" formControlName="endDate"></p-calendar>
                        <label for="endDate">End Date</label>
                    </p-floatLabel>
                </div>
        
                <!-- Box 4: Number of People -->
                <div class="box">
                    <p-floatLabel>
                        <p-inputNumber inputId="integeronly" />
                        <label for="number-input">Number of People</label>
                    </p-floatLabel>
                </div>
        
                <!-- Box 5: Booking -->
                <div class="box">
                    <button pButton pRipple type="button" label="Booking" class="p-button-outlined"></button>
                </div>
            </div>
        </div>
      </div>

      <div class="col-12 mt-8 mb-8 p-2 md:p-8" style="border-radius:20px; background:linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #EFE1AF 0%, #C3DCFA 100%);">
          <div class="flex flex-column justify-content-center align-items-center text-center px-3 py-3 md:py-0">
            <h1 class="text-gray-900 mb-2">WELCOME TO SHERITON RESTON HOTEL</h1>
            <p class="text-gray-900 sm:line-height-2 md:line-height-4 text-2xl mt-4 content-paragraph" style="max-width:800px;">
              “The Sheriton Reston is proud to announce our reopening August 6th after a complete renovation.
              <span *ngIf="!showMore">
                <span class="see-more-less" (click)="toggleSeeMore()">See More</span>
              </span>
              <span *ngIf="showMore">
              Reston's first hotel is now its newest! Surrounded by exciting Virginia destinations, the fully renovated Hotel is an ideal home base for business and leisure travelers alike. Among our neighbors are Reston National Golf Course, Reston Town Center’s shops and restaurants and the historical sites in our nation’s capital. Those planning events in Reston will appreciate our 18,000 square feet of refreshed, modern event space for conferences and our new Courtyard for social gatherings. All guest rooms have been redesigned for a clean, contemporary look with remodeled, larger bathrooms with stand-up showers, new Sheraton Signature Beds, 55” smart TV’s and refrigerators. Additional amenities include new, state of the art 1800 sq ft gym, Media Room and Studio by Sheraton. Coming soon: spacious Club Lounge and renovated Provision outlet - a coffee shop in the morning, lunch offerings and bar in the evening"
                <span class="see-more-less" (click)="toggleSeeMore()">See Less</span>
              </span>
            </p>
            <img src="assets/demo/images/landing/peak-logo.svg" class="mt-4" alt="Company logo">
          </div>
        </div>
  
      <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
          <div class="grid justify-content-center">
              <div class="col-12 text-center mt-8 mb-4">
                  <h2 class="text-900 font-normal mb-2">Why did you choose Sheriton?</h2>
              </div>
      
              <div class="col-12 md:col-6 lg:col-4 p-2">
                  <div class="feature-card">
                      <img src="assets/images/luxury.png" alt="Feature Image 1" class="feature-image">
                      <div class="feature-content">
                          <h5 class="feature-title">Luxurious place</h5>
                          <p class="feature-description">Enjoy elegantly designed rooms and suites that offer a blend of comfort and sophistication, ensuring a memorable stay.</p>
                          <div class="box">
                              <button pButton pRipple type="button" label="More Detail" class="p-button-outlined"></button>
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="col-12 md:col-6 lg:col-4 p-2">
                  <div class="feature-card">
                      <img src="assets/images/world_class.png" alt="Feature Image 2" class="feature-image">
                      <div class="feature-content">
                          <h5 class="feature-title">World-Class Amenities and Service</h5>
                          <p class="feature-description">Enjoy world-class amenities and exceptional hospitality at Vinepart, with luxurious spas, gourmet dining, and personalized service that makes every guest feel special.</p>
                          <div class="box">
                              <button pButton pRipple type="button" label="More Detail" class="p-button-outlined"></button>
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="col-12 md:col-6 lg:col-4 p-2">
                  <div class="feature-card">
                      <img src="assets/images/customizable_room.png" alt="Feature Image 3" class="feature-image">
                      <div class="feature-content">
                          <h5 class="feature-title">Customizable Room</h5>
                          <p class="feature-description">Experience the convenience of customizable rooms tailored to meet your specific preferences and needs, enhancing your stay.</p>
                          <div class="box">
                              <button pButton pRipple type="button" label="More Detail" class="p-button-outlined"></button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
      <div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
          <div class="text-center">
              <h2 class="text-900 font-normal mb-2">Service</h2>
          </div>
  
          <div class="grid mt-8 pb-2 md:pb-8">
              <div class="flex justify-content-center col-12 lg:col-6 p-0 flex-order-1 lg:flex-order-0 img-container" style="border-radius:8px;">
                <img src="assets/images/pool.png" class="w-11 img-fit" alt="mockup mobile">
              </div>
            
              <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
                  <div class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end" style="width:4.2rem; height:4.2rem; border-radius: 10px;">
                      <i class="fas fa-swimmer text-5xl text-purple-700"></i>
                    </div>
                <h2 class="line-height-1 text-900 text-4xl font-normal">Swimming Pool</h2>
                <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">"Our pool provides a relaxing experience with its beautiful design and modern filtration system. Ideal for unwinding and fitness."</span>
              </div>
            </div>
  
            <div class="grid my-8 pt-2 md:pt-8">
              <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
                  <div class="flex align-items-center justify-content-center bg-yellow-200 align-self-center lg:align-self-start" style="width:4.2rem; height:4.2rem; border-radius:10px;">
                      <i class="fas fa-dumbbell text-5xl text-yellow-700"></i>
                    </div>
                <h2 class="line-height-1 text-900 text-4xl font-normal">Gym</h2>
                <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">
                  "Our modern gym offers high-end equipment and a spacious environment. Our professional trainers are ready to assist you."
                </span>
              </div>
            
              <div class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-yellow-100 p-0 img-container" style="border-radius:10px;">
                <img src="assets/images/gym.png" class="w-11 img-fit" alt="mockup">
              </div>
            </div>
      </div>
  
      <div class="pricing py-4 px-4 lg:px-8 my-2 md:my-4">
        <div class="text-center">
          <h2 class="heading">Popular Rooms</h2>
        </div>
        <div class="grid-container">
          <div class="col p-0 md:p-3" *ngFor="let room of rooms | slice:0:3">
            <div class="feature-card-popularroom">
              <div class="img-container-popularroom">
                <img
                  src="assets/images/family_room.png"                 
                  alt="Family Room"
                  class="feature-image"
                />
              </div>
              <div class="feature-content">
                <h3 class="feature-title">{{room.type}}</h3>
                <div class="rating">
                  <span>5.0</span>
                  <p-rating
                    [(ngModel)]="value"
                    [readonly]="false"
                    [cancel]="false"
                  ></p-rating>
                  <span>(588)</span>
                </div>
                <div class="price">
                  <span class="current-price">${{room.price}}</span>
                  <span class="original-price">$799</span>
                </div>
                <div class="box">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Booking"
                    class="p-button-outlined"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <app-footer-shared></app-footer-shared>
  </div>
</div>