.feature-card-popularroom {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    height: 400px;
    .img-container-popularroom{
      max-width: 300px;
      width: 100%;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      max-height: 220px;
    }
}
.feature-card-popularroom:hover {
  transform: translateY(-10px);
}

.feature-card{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-image {
    width: 100%;
    height: auto;
}

.feature-content {
    padding: 16px;
    text-align: center;
}

.feature-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.feature-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
}

.feature-link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

.feature-link:hover {
    text-decoration: underline;
}


.content-paragraph {
    font: normal normal 500 1rem / 1.5rem var(--t-base-font-family);
  }
  
  .see-more-less {
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: underline;
    margin-left: 5px;
  }

  .img-container {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .img-fit {
    width: 100%; 
    height: auto;
  }
  
  @media (min-width: 1024px) {
    .img-container {
      order: 1;
    }
  }

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: center;
    height: auto;
    object-fit: cover;
    overflow: hidden;

}


.pricing-card {
    max-width: 100%;
    text-align: center;
}

.room-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.room-title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.rating span {
    margin: 0 0.2rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.current-price {
  font-size: 1.5em;
  color: #e74c3c;
  margin-right: 8px;
}

.original-price {
  text-decoration: line-through;
  color: #aaa;
}

app-header-shared {
  z-index: 1000; /* Adjust if necessary */
  position: relative;
}

/* Ensure the content starts below the header */
.landing-wrapper {
  margin-top: 100px; /* Adjust this value to ensure no overlap */
}

.surface-0 {
  z-index: 1; /* Ensure it is below the header */
  position: relative;
}
