.feature-card-popularroom {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    height: 400px;
    .img-container-popularroom{
      max-width: 300px;
      width: 100%;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      max-height: 220px;
    }
}
.feature-card-popularroom:hover {
  transform: translateY(-10px);
}

.feature-card{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-image {
    width: 100%;
    height: auto;
}

.feature-content {
    padding: 16px;
    text-align: center;
}

.feature-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.feature-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
}

.feature-link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

.feature-link:hover {
    text-decoration: underline;
}


.content-paragraph {
    font: normal normal 500 1rem / 1.5rem var(--t-base-font-family);
  }
  
  .see-more-less {
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: underline;
    margin-left: 5px;
  }

  .img-container {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .img-fit {
    width: 100%; 
    height: auto;
  }
  
  @media (min-width: 1024px) {
    .img-container {
      order: 1;
    }
  }

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: center;
    height: auto;
    object-fit: cover;
    overflow: hidden;

}


.pricing-card {
    max-width: 100%;
    text-align: center;
}

.room-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.room-title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.rating span {
    margin: 0 0.2rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.current-price {
  font-size: 1.5em;
  color: #e74c3c;
  margin-right: 8px;
}

.original-price {
  text-decoration: line-through;
  color: #aaa;
}
::ng-deep .p-menu .p-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .p-menu .p-menuitem {
  margin: 0 1rem;
}
::ng-deep .p-menu .p-menuitem-link {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

::ng-deep .p-menu .p-menuitem-link:hover {
  background-color: #f5f5f5;
  color: #000;
}
::ng-deep .p-menu .p-menuitem.active .p-menuitem-link {
  background-color: #007bff;
  color: #fff;
}

::ng-deep .p-menu .p-menuitem.active .p-menuitem-link:hover {
  background-color: #0056b3;
  color: #fff;
}

.mobile-menu {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
}

.mobile-menu.hidden {
  max-height: 0;
  opacity: 0;
}

.mobile-menu.visible {
  max-height: 500px; /* Adjust based on the number of menu items */
  opacity: 1;
}
