.profile-container {
  display: flex;
  align-items: flex-start;
}

.profile-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.profile-left .user-info {
  text-align: center;
}

.profile-right {
  width: 75%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
