.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  position: relative;
}

.profile-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 200px;
  width: auto;
  padding: 1rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #6a1b9a; /* Purple border */
}

.profile-left .user-info {
  text-align: center;
  margin-top: 1rem;
  word-break: break-word; /* To ensure long email addresses break correctly */
}

.profile-right {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.profile-right h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.p-field {
  margin-bottom: 1rem;
}

.p-calendar .p-inputtext {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.button-group button {
  margin-left: 1rem;
}

.p-avatar {
  margin-bottom: 1rem;
}

.p-fluid .p-field label {
  font-weight: bold;
}

.home-button {
  font-size: 1.5rem; /* Increase the font size */
  display: flex;
  align-items: center;
}

.home-button .pi-home {
  font-size: 2rem; /* Increase the icon size */
  margin-right: 0.5rem;
}
