<div style="height: 100px"></div>
<app-header-shared></app-header-shared>
<div class="surface-100 my-6 pt-2">
    <div class="my-6 flex gap-4 justify-content-center">
      
      <p-floatLabel>
          <p-dropdown id="location" [options]="hotels" optionLabel="address" (ngModelChange)="onLocationChange($event)" [(ngModel)]="location"></p-dropdown>
          <label for="location">Choose a location:</label>
      </p-floatLabel>
      

        <p-floatLabel>
            <p-calendar id="dateRange" [(ngModel)]="formattedRangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
            <label for="dateRange">Checkin -> CheckOut</label>
        </p-floatLabel>
    
        <div class="box"> 
          <div class="number-of-people-box"
            tabindex="0"
            (click)="toggleSliders()"
            (keyup)="handleKeyUp($event)">
            <input
              type="text"
              readonly
              [value]="
                 NumberOfRoom + ' rooms, ' + NumberOfAdult + ' adults, ' + NumberOfChildren + ' children'
              "
            />
            <div *ngIf="showSliders" class="slider-container">
              <div class="slider-title">Number of People</div>
              <div class="slider-item">
                <label for="numberOfRooms">Rooms</label>
                <p-slider [(ngModel)]="NumberOfRoom" [max]="8" [min]="1" [step]="1" (onChange)="checkPeopleCount()"></p-slider>
                <span>{{ NumberOfRoom }}</span>
              </div>
              <p-toast key="peopleCount"></p-toast>
              <div class="slider-item">
                <label for="numberOfAdults">Adults</label>
                <p-slider [(ngModel)]="NumberOfAdult" [max]="10" [min]="1" [step]="1" (onChange)="checkPeopleCount()"></p-slider>
                <span>{{ NumberOfAdult }}</span>
              </div>
              <div class="slider-item">
                <label for="numberOfChildren">Children</label>
                <p-slider [(ngModel)]="NumberOfChildren" [max]="10" [min]="0" [step]="1" (onChange)="checkPeopleCount()"></p-slider>
                <span>{{ NumberOfChildren }}</span>
              </div>
            </div>
          </div>
        </div>
        

    </div>

  <div
    class="flex container mb-4 p-col-12 p-md-6 p-lg-4 flex-column xl:flex-row"
  >
    <!-- This is filter -->
    <div class="card border-round-right">
      <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
        <div class="search-room-container">
          <h5>Search & Filter Rooms</h5>
          <input
            type="text"
            [(ngModel)]="filterText"
            placeholder="Search the type of room"
            (input)="filterRooms()"
            class="search-input"
          />
          <p-dropdown
            [options]="sortType"
            [(ngModel)]="selectedSortType"
            (onChange)="filterRooms()"
            placeholder="Rooms sorted by price"
            class="sort-dropdown"
          />
        </div>
      </p-scrollPanel>
    </div>
    <!-- This is filter -->

    <!-- This is View Room -->
    <div
      class="flex-column justify-content-around align-items-center xl:w-9 w-full ml-auto mr-auto"
    >
      <div *ngIf="filteredRooms && filteredRooms.length > 0" class="">
        <div
          *ngFor="let room of filteredRooms"
          class="mx-4 px-4 mb-4 bg-white-alpha-90"
        >
          <div
            class="flex justify-content-between border-bottom-1 border-bluegray-200"
          >
            <h3 class="pt-2 font-bold text-4xl">{{ room.type }}</h3>
            <h5
              class="cursor-pointer view-more"
              (click)="openModal(room.id)"
              (keyup.enter)="openModal(room.id)"
              tabindex="0"
            >
              view more
            </h5>
          </div>
          <div class="flex justify-content-between flex-wrap mb-4 pb-2">
            <div class="xl:w-3 w-2">
              <img
                class="room-image w-full overflow-auto"
                [src]="room.image"
                alt=""
              />
            </div>
            <div
              class="border-bluegray-200 flex justify-content-between align-items-center xl:h-12rem h-8rem flex-1 ex:pt-6 xl:border-bottom-1 ml-4 pb-3"
            >
              <div class="xl:w-4 w-2 overflow-auto xl:text-xl">
                <div class="">{{ room.description }}</div>
                <div class="">
                  <i class="pi pi-users text-xl mt-2"></i>
                  {{ room.numberOfPeople }}
                </div>
              </div>
              <div class="flex flex-column align-items-center">
                <span class="original-price xl:text-xl">$799</span>
                <span class="font-bold mb-2 xl:text-3xl mt-2"
                  >${{ room.price }}</span
                >
              </div>
              <div class="flex flex-column text-right">
                <p-button icon="pi pi-heart" [outlined]="true"></p-button>
                <p-button
                  (click)="toBookingPage(room.id)"
                  (keyup.enter)="toBookingPage(room.id)"
                  icon="pi pi-shopping-cart"
                  class="flex-auto md:flex-initial white-space-nowrap mt-2"
                  label="Booking "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- This is View Room -->

    <!-- Modal -->
    <div class="custom-modal" *ngIf="displayModal">
      <div
        class="card flex justify-content-center custom-content w-10 xl:w-8 h-30rem"
      >
        <p-button
          class="closed-btn"
          type="button"
          label="X"
          (click)="closeModal()"
        ></p-button>

        <div class="modal-content">
          <div class="xl:w-3 w-2">
            <img
              class="room-image w-full overflow-auto"
              [src]="selectedRoom?.image"
              alt=""
            />
          </div>
          <div>
            <h3>{{ selectedRoom?.type }}</h3>
            <p>{{ selectedRoom?.description }}</p>
            <p>Number of people: {{ selectedRoom?.numberOfPeople }}</p>
            <p>Price: ${{ selectedRoom?.price }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <!-- This is validation -->
    <div
      *ngIf="filteredRooms && filteredRooms.length === 0"
      class="text-center my-6"
    >
      <p>No rooms found</p>
    </div>
    <!-- This is validation -->
  </div>
  <app-footer-shared></app-footer-shared>
</div>
