<div style="height: 100px"></div>
<app-header-shared></app-header-shared>
<div class="surface-100 my-6 pt-2">
  <div class="my-6 flex gap-4 justify-content-center">
    <p-dropdown
      [options]="hotels"
      [(ngModel)]="location"
      [checkmark]="true"
      optionLabel="address"
      [editable]="true"
      (ngModelChange)="onLocationChange($event)"
    />

    <p-floatLabel>
      <p-calendar
        id="dateRange"
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true"
        (ngModelChange)="onDateChange()"
      ></p-calendar>
      <label for="dateRange">Checkin -> CheckOut</label>
    </p-floatLabel>

    <div class="box">
      <div
        class="number-of-people-box"
        tabindex="0"
        (click)="toggleSliders()"
        (keyup)="handleKeyUp($event)"
      >
        <input
          type="text"
          readonly
          [value]="
            NumberOfRoom +
            ' rooms, ' +
            NumberOfAdult +
            ' adults, ' +
            NumberOfChildren +
            ' children'
          "
        />
        <div *ngIf="showSliders" class="slider-container">
          <div class="slider-title">Number of People</div>
          <div class="slider-item">
            <label for="numberOfRooms">Rooms</label>
            <p-slider
              [(ngModel)]="NumberOfRoom"
              [max]="8"
              [min]="1"
              [step]="1"
              (onChange)="checkPeopleCount()"
            ></p-slider>
            <span>{{ NumberOfRoom }}</span>
          </div>
          <p-toast key="peopleCount"></p-toast>
          <div class="slider-item">
            <label for="numberOfAdults">Adults</label>
            <p-slider
              [(ngModel)]="NumberOfAdult"
              [max]="10"
              [min]="1"
              [step]="1"
              (onChange)="checkPeopleCount()"
              (ngModelChange)="onAdultsChange($event)"
            ></p-slider>
            <span>{{ NumberOfAdult }}</span>
          </div>
          <div class="slider-item">
            <label for="numberOfChildren">Children</label>
            <p-slider
              [(ngModel)]="NumberOfChildren"
              [max]="10"
              [min]="0"
              [step]="1"
              (onChange)="checkPeopleCount()"
              (ngModelChange)="onChildrenChange($event)"
            ></p-slider>
            <span>{{ NumberOfChildren }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex mb-4 p-col-12 p-md-6 p-lg-4 flex-column xl:flex-row">
    <!-- This is filter -->
    <div class="card border-round-right">
      <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
        <div class="search-room-container">
          <h5>Search & Filter Rooms</h5>
          <input
            type="text"
            [(ngModel)]="filterText"
            placeholder="Search the type of room"
            (input)="filterRooms()"
            class="search-input"
          />
          <p-dropdown
            [options]="sortType"
            [(ngModel)]="selectedSortType"
            (onChange)="filterRooms()"
            placeholder="Rooms sorted by price"
            class="sort-dropdown"
          />
        </div>
      </p-scrollPanel>
    </div>
    <!-- This is filter -->
    <!-- This is View Room -->
    <div
      *ngIf="filteredRooms && filteredRooms.length > 0"
      class="flex-column justify-content-around align-items-center xl:w-9 w-full ml-auto mr-auto flex-1"
    >
      <div
        *ngFor="let room of filteredRooms"
        class="mx-4 p-4 mb-4 bg-white-alpha-90"
      >
        <div
          class="flex align-items-center flex-wrap"
          *ngIf="
            rangeDates &&
            rangeDates[0] &&
            rangeDates[1] &&
            rangeDates[0].getDate() === room.startDate.getDate() &&
            rangeDates[1].getDate() <= room.endDate.getDate() &&
            NumberOfAdult + NumberOfChildren === room.numberOfPeople
          "
        >
          <div class="xl:w-22rem xl:h-16rem w-2 border-round-md">
            <img
              class="room-image w-full overflow-auto border-round-md"
              [src]="room.image"
              alt=""
            />
          </div>

          <div
            class="flex flex-column flex-1 ml-4 gap-4 justify-content-between xl:w-3 flex-grow-1"
          >
            <div class="">
              <div class="flex justify-content-between align-items-center">
                <h3 class="mb-0 font-bold text-4xl">{{ room.type }}</h3>
                <h5
                  class="cursor-pointer view-more mt-0 mb-0"
                  (click)="openModal(room.id)"
                  (keyup.enter)="openModal(room.id)"
                  tabindex="0"
                >
                  view more
                </h5>
              </div>
            </div>

            <div
              class="border-bluegray-200 flex flex-column xl:h-12rem h-8rem flex-1 ex:pt-6"
            >
              <div class="xl:w-full w-2 overflow-auto xl:text-xl">
                <div class="">
                  <i class="pi pi-map-marker"></i> {{ location }}
                </div>
                <div class="flex justify-content-between align-items-center gap-8">
                  <div class="py-2 text-justify">
                    {{ room.description }} Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Placeat quo cum maiores omnis
                    dignissimos. Quaerat quod ex enim quidem alias! Non deserunt
                    laudantium culpa quaerat commodi deleniti necessitatibus,
                    nisi similique.
                  </div>
                  <div class="pb-2 flex gap-2">
                    <div class="">{{ startDate }}</div>
                    <span class="">-</span>
                    <div class="">{{ endDate }}</div>
                  </div>
                </div>
                <div class="pb-2">
                  <i class="pi pi-users text-2xl mt-2"></i>
                  {{ room.numberOfPeople }}
                </div>
              </div>
              <div class="flex justify-content-between">
                <div class="flex align-items-center">
                  <div class="flex flex-column">
                    <span class="original-price xl:text-2xl">$199</span>
                    <span
                      class="current-price font-bold xl:text-3xl mt-2 mb-2"
                      >{{ room.price | currency }}</span
                    >
                  </div>
                  <div class="mt-4">
                    <span class="px-2 text-2xl">/</span>
                    <span class="">night</span>
                  </div>
                </div>
                <div class="flex flex-column justify-content-end">
                  <p-button
                    (click)="toBookingPage(room.id)"
                    (keyup.enter)="toBookingPage(room.id)"
                    icon="pi pi-shopping-cart"
                    class="flex-auto md:flex-initial white-space-nowrap mt-2"
                    label="Booking "
                  />
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- This is validation -->
      <div
        *ngIf="!filteredRooms.length || undefined"
        class="px-auto text-center"
      >
        <p class="">No rooms found</p>
      </div>
      <!-- This is validation -->
    </div>
    <!-- This is View Room -->

    <!-- Modal -->

    <p-dialog
      [(visible)]="visible"
      header="{{ selectedRoom?.type }}"
      [modal]="true"
      [style]="{ width: '1200px' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >
      <div
        class="modal-content flex flex-column justify-content-between align-items-center mx-auto"
        style="width: 1000px"
      >
        <div class="xl:w-8 w-2 mb-6">
          <img
            class="room-image w-full overflow-auto"
            [src]="selectedRoom?.image"
            alt=""
          />
        </div>

        <div
          class="flex flex-column w-full justify-content-between align-items-center"
        >
          <div class="flex flex-wrap w-full justify-content-around">
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-book"></i> Description</p>
              <p>{{ selectedRoom?.description }}</p>
            </div>
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-users"></i> Number of people</p>
              <p>{{ selectedRoom?.numberOfPeople }}</p>
            </div>
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-wallet"></i> Price</p>
              <p>$ {{ selectedRoom?.price }}</p>
            </div>
          </div>
          <p-divider class="w-full" />

          <div class="flex flex-wrap w-full justify-content-around">
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-book"></i> Description</p>
              <p>{{ selectedRoom?.description }}</p>
            </div>
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-users"></i> Number of people</p>
              <p>{{ selectedRoom?.numberOfPeople }}</p>
            </div>
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-wallet"></i> Price</p>
              <p>$ {{ selectedRoom?.price }}</p>
            </div>
          </div>
          <p-divider class="w-full" />

          <div class="flex flex-wrap w-full justify-content-around">
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-book"></i> Description</p>
              <p>{{ selectedRoom?.description }}</p>
            </div>
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-users"></i> Number of people</p>
              <p>{{ selectedRoom?.numberOfPeople }}</p>
            </div>
            <div class="flex flex-column justify-content-center">
              <p><i class="pi pi-wallet"></i> Price</p>
              <p>$ {{ selectedRoom?.price }}</p>
            </div>
          </div>
          <p-divider class="w-full" />
        </div>
      </div>
    </p-dialog>
    <!-- Modal -->
  </div>
  <app-footer-shared></app-footer-shared>
</div>
