<div class="layout-footer">
    <div class="footer-content py-4 px-4 mx-0 mt-8 lg:mx-8">
        <div class="grid justify-content-between" style="gap: 40px;">
            <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                <a [routerLink]="['/home']" class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">  
                    <img src="assets/images/logo2.png" alt="footer sections" width="100" height="100" class="mr-2">
                    <h4 class="font-medium text-3xl text-500">Sheriton Hotel</h4>
                </a>
            </div>
            <div class="col-12 md:col-10 lg:col-7">
                <div class="md:text-left footer-links">
                    <div class="col-12 md:col-4">
                        <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Company</h4>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">About Us</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">News</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Investor Relations</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Careers</a>
                    </div>
                    <div class="col-12 md:col-4">
                        <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Community</h4>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Facebook <i class="pi pi-facebook" style="font-size: 1.5rem"></i></a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Instagram <i class="pi pi-instagram" style="font-size: 1.5rem"></i></a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Youtube <i class="pi pi-youtube" style="font-size: 1.5rem"></i></a>
                    </div>
                    <div class="col-12 md:col-4">
                        <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Legal</h4>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Brand Policy</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacy Policy</a>
                        <a class="line-height-3 text-xl block cursor-pointer text-700">Terms of Service</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center mt-4">
            <div class="font-medium text-900 underline">
                © 2024 Sheriton Hotel, Vietnam. All rights reserved
            </div>
        </div>
    </div>
  </div>
  