<p-toast
  key="1"
  position="top-center"
></p-toast>
<div style="height: 100px"></div>
<app-header-shared></app-header-shared>
<div class="grid">
  <div class="col md:col-4 lg:col-7" [hidden]='isHideCustomizing'>
    <div
        class='fadeinleft animation-duration-600'
      >
    <p-toolbar class="flex align-items-center justify-content-center">
      <div class="p-toolbar-group-start">
        <p-button
          (click)="selectFurniture('chair')"
          [disabled]="!canAddFurniture('chair')"
          class="mr-2"
          >Chair ({{ getFurnitureCount("chair") }}/{{ limits.chair }})</p-button
        >
        <p-button
          (click)="selectFurniture('beds')"
          [disabled]="!canAddFurniture('beds')"
          class="mr-2"
          >Bed ({{ getFurnitureCount("beds") }}/{{ limits.beds }})</p-button
        >
        <p-button
          (click)="selectFurniture('closet')"
          [disabled]="!canAddFurniture('closet')"
          class="mr-2"
          >Closet ({{ getFurnitureCount("closet") }}/{{ limits.closet }})</p-button
        >
        <p-button
          (click)="selectFurniture('table')"
          [disabled]="!canAddFurniture('table')"
          >Table ({{ getFurnitureCount("table") }}/{{ limits.table }})</p-button
        >
      </div>
      <div class="p-toolbar-group-center">
        <p-button (click)="undo()" class="mr-2">Undo</p-button>
        <p-button (click)="redo()">Redo</p-button>
      </div>
    </p-toolbar>
    <div class="flex flex-wrap align-items-center justify-content-center p-4">
        <canvas
          #canvas
          width="800"
          height="600"
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove($event)"
          (mouseup)="onMouseUp()"
          class="canva-grid"
        >
      </canvas>
    </div>
  </div>
  </div>
  <div class="col md:col-4 lg:col">
    <div class="flex justify-content-center align-items-center">
      <div class="card w-9">
        <p-toast />
        <p-steps 
            [model]="steps" 
            [readonly]="false"
            class="justify-content-between" 
            [activeIndex]="activeIndex" 
            (activeIndexChange)="onActiveIndexChange($event)" />
      </div>
    </div>
  </div>
</div>
<app-footer-shared></app-footer-shared>
